<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="favicon.ico" />
<script type="text/javascript" th:src="@{/js/jquery/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/js/jquery-validation/dist/jquery.validate.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/js/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<title>欢迎使用 快速开发平台</title>
	<style>
		/*web background*/
		.container{
			display:table;
			height:100%;
		}

		.row{
			display: table-cell;
			vertical-align: middle;
		}
		/* centered columns styles */
		.row-centered {
			text-align:center;
		}
		.col-centered {
			display:inline-block;
			float:none;
			text-align:left;
			margin-right:-4px;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row row-centered">
		<div class="well col-md-6 col-centered">
			<h2>欢迎登录</h2>
			<form id="commentForm" role="form" th:action="@{/login}" method="post">
				<div class="input-group input-group-md">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
					<input type="text" class="form-control required" name="username" placeholder="请输入用户名"/>
				</div>
				<div class="input-group input-group-md">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control required" name="password" placeholder="请输入密码"/>
				</div>
				<br/>
				<button type="submit" class="btn btn-success btn-block">登录</button>
			</form>
		</div>
	</div>
</div>

</body>
<!-- <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                        <label>
                          <input type="checkbox">请记住我
                        </label>
                      </div>
                    </div>
              </div> -->
</html>