<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" th:href="@{/images/favicon.ico}" />
<script type="text/javascript" th:src="@{/js/jquery/jquery.js}"></script>
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery-validation/dist/jquery.validate.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/js/bootstrap/css/bootstrap.min.css}" />
<link th:href="@{/css/defined.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/paginator/bootstrap-paginator.js}"></script>
<title>快速开发平台</title>

</head>
<body>
<div id="content">
	<div class="container-fluid" >
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">人员列表</a></li>
					<li><a th:href="@{/framework/sysUser/form}">人员增加</a></li>

				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>主键</th>
							<th>真实姓名</th>
							<th>用户名</th>
							<th>创建时间</th>
							<th class="text-center" >操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sysUser: ${page.list}">
							<td th:text="${sysUser.id}">1</td>
							<td th:text="${sysUser.realName}">1</td>
							<td th:text="${sysUser.username}">1</td>
							<td th:text="${#dates.format( sysUser.createDate ,'yyyy-MM-dd HH:mm:ss')}">Default</td>
							<td><a type="button" class="btn btn-sm btn-primary"
								th:href="@{'/framework/sysUser?id=' + ${sysUser.id}}">详情</a>
								<a type="button" class="btn btn-sm btn-danger"
								th:href="@{'/framework/sysUser/delete?id=' + ${sysUser.id}}">删除</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="row" th:insert="~{admin/partial/page :: page}"></div>

		</div>
	</div>
</div>
</body>
</html>